{% extends "base_page.html" %}
{% block content %}
<h1 class="m-3">Вещи на обмен</h1>
{% if goods_to_image %}
<div class="row justify-content-center">
  {% for good, image_url in goods_to_image.items %}

    <div class="card col-3 m-3" style="width: 18rem;">
      <img src="{{ image_url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title m-1">{{ good.title }}</h5>
        <p class="card-text m-1">{{ good.description }}</p>
        <a href="{% url 'exchangesite:user' user_id=good.user_id %}" class="card-link m-1">{{ good.user }}</a>
        <a href="{% url 'exchangesite:exchange' user_id=good.user_id good_id=good.id %}" class="btn btn-primary m-1">Предложить обмен</a>

      </div>
    </div>

  {% endfor %}
</div>
{% endif %}
{% endblock %}